@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    ViewBag.Title = "Movies List";
}

@{ 
    
}

<header style="font-family: 'Berlin Sans FB'">
    <h1>Index</h1>
</header>

<p style="color:lawngreen">Ma premiere vue Template</p>
